<mat-form-field
  appearance="outline"
  *ngFor="let formControl of formArray.controls"
>
  <mat-label>
    <app-questionnaire-form-item-label
      [item]="item"
    ></app-questionnaire-form-item-label>
  </mat-label>
  <textarea
    matInput
    [formControl]="formControl"
    [required]="item.isRequired"
  ></textarea>
  <mat-hint>
    <app-questionnaire-form-item-hint
      [item]="item"
    ></app-questionnaire-form-item-hint>
  </mat-hint>
  <mat-error
    *ngIf="formControl.errors?.required"
    translate="errors.required"
  ></mat-error>
</mat-form-field>
<button
  *ngIf="item.repeats"
  mat-raised-button
  color="primary"
  (click)="addItem()"
  type="button"
>
  Antwort hinzufügen
</button>
