<form (ngSubmit)="saveAsDraft.next()" [formGroup]="formGroup">
  <mat-card class="primary">
    <mat-card-header class="primary-card-header">
      <ng-container *ngIf="titleWithExtension$ | async as titleWithExtension">
        <h1
          *ngIf="titleWithExtension.renderingExtension.renderAsHtml"
          [ngStyle]="titleWithExtension.renderingExtension.styles"
          [innerHtml]="titleWithExtension.title"
        ></h1>
        <h1
          *ngIf="!titleWithExtension.renderingExtension.renderAsHtml"
          [ngStyle]="titleWithExtension.renderingExtension.styles"
        >
          {{ titleWithExtension.title }}
        </h1>
      </ng-container>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="!(store$ | async)">Loading...</ng-container>
      <app-questionnaire-form-item
        *ngFor="let itemLinkIdPath of itemLinkIdPaths$ | async"
        [store]="store$"
        [dispatch]="dispatch"
        [linkIdPath]="itemLinkIdPath"
        [formParent]="formGroup"
      ></app-questionnaire-form-item>
    </mat-card-content>

    <mat-card-actions>
      {{ refreshed }}
      <!--       <button
        *ngIf="!hideSubmitButton"
        mat-raised-button
        color="primary"
        (click)="submitQuestionnaire.next()"
        type="button"
      >
-->
      <button
        *ngIf="!hideSubmitButton"
        mat-raised-button
        color="primary"
        (click)="
          formGroup.valid ? submitQuestionnaire.next() : showFormErrors()
        "
        type="button"
      >
        Save and Send
      </button>
      <button *ngIf="!hideSaveButton" mat-raised-button type="submit">
        Save as Draft
      </button>
      <button
        *ngIf="!hideSaveDefaultButton"
        (click)="saveAsDefault.next()"
        mat-raised-button
        type="button"
      >
        Save as Default
      </button>
      <button
        *ngIf="!hideCancelButton"
        mat-button
        (click)="deleteQuestionnaireResponse.next()"
        type="button"
      >
        Delete
      </button>
      <button
        *ngIf="!hideCancelButton"
        mat-button
        (click)="cancel.next()"
        type="button"
      >
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
