<ng-container *ngIf="item.repeats">
  <label class="mat-body-2">
    <app-questionnaire-form-item-label
      [item]="item"
    ></app-questionnaire-form-item-label>
    <span *ngIf="item.isRequired">&nbsp;*</span>
    <app-questionnaire-form-item-hint
      [item]="item"
    ></app-questionnaire-form-item-hint>
  </label>
  <div [ngClass]="item.extensions.choiceOrientation" class="checkbox-group">
    <mat-checkbox
      *ngFor="let control of formArray.controls; let i = index"
      [formControl]="control"
      color="primary"
    >
      {{ item.answerOptions[i]?.display }}
    </mat-checkbox>
  </div>
  <div
    *ngIf="formArray?.dirty && formArray?.errors?.required"
    translate="errors.required"
    class="mat-error"
  ></div>
</ng-container>
<ng-container *ngIf="!item.repeats">
  <div>
    {{ item.type }} cannot be used with check boxes unless item.repeats is set
    to true
  </div>
</ng-container>
