:host {
  display: flex;
  flex-direction: column;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &.horizontal {
    flex-direction: row;
    mat-checkbox:not(:first-child) {
      margin-top: 0;
    }
  }

  mat-checkbox {
    margin-right: 1rem;

    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }
}
