.learn-more-container {
  display: flex;
  mat-icon {
    margin-right: 0.2rem;
  }
  a {
    margin-right: 0.2rem;
    color: inherit;
    &:hover,
    &:active,
    &:focus {
      color: black;
    }
  }
}
