<ng-container *ngIf="item.prefix">
  <span
    *ngIf="item.extensions.prefix.renderAsHtml"
    [ngStyle]="item.extensions.prefix.styles"
    [innerHtml]="item.prefix"
  ></span>
  <span
    *ngIf="!item.extensions.prefix.renderAsHtml"
    [ngStyle]="item.extensions.prefix.styles"
  >
    {{ item.prefix }}
  </span>
  &nbsp;
</ng-container>
<span
  *ngIf="item.extensions.text.renderAsHtml"
  [ngStyle]="item.extensions.text.styles"
  [innerHtml]="item.text"
></span>
<span
  *ngIf="!item.extensions.text.renderAsHtml"
  [ngStyle]="item.extensions.text.styles"
>
  {{ item.text }}
</span>
