<mat-card class="client">
  <mat-card-content>
    <mat-form-field class="fixtextarea">
      <mat-label>Resource</mat-label>
      <textarea
        matInput
        [formControl]="map"
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="20"
        rows="30"
      >
      </textarea>
    </mat-form-field>

    <mat-card-actions>
      <input
        type="file"
        (change)="fileChange($event)"
        placeholder="Upload resource"
        accept=".json"
      />

      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onPost()"
      >
        POST
      </button>
      <button mat-button type="submit" (click)="onUpdate()">UPDATE</button>
      <button mat-button type="submit" (click)="onDelete()">DELETE</button>
    </mat-card-actions>

    <mat-form-field>
      <mat-label>Resource</mat-label>
      <input matInput [formControl]="resourceType" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>id</mat-label>
      <input matInput [formControl]="id" />
    </mat-form-field>

    <button mat-button color="primary" type="submit" (click)="onGet()">
      GET
    </button>

    <div *ngIf="errMsg">{{ errMsg }}</div>
  </mat-card-content>
</mat-card>
