<mat-form-field
  appearance="outline"
  *ngFor="let formControl of formArray.controls"
>
  <mat-label>
    <app-questionnaire-form-item-label
      [item]="item"
    ></app-questionnaire-form-item-label>
  </mat-label>
  <input
    type="number"
    matInput
    [formControl]="formControl"
    [required]="item.isRequired"
  />
  <mat-hint>
    <app-questionnaire-form-item-hint
      [item]="item"
    ></app-questionnaire-form-item-hint>
  </mat-hint>
  <span matSuffix *ngIf="item.extensions.unit">{{ item.extensions.unit }}</span>
  <mat-error
    *ngIf="formControl?.errors?.required"
    translate="errors.required"
  ></mat-error>
</mat-form-field>
