<mat-card class="display">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title
        >Mobile Access Gateway - Patient Identifiers</mat-card-title
      >
    </mat-card-header>

    <div>
      <mat-form-field>
        <mat-label>sourceIdentifier system</mat-label>
        <input matInput [formControl]="sourceIdentifierSystem" />
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-label>sourceIdentifier value</mat-label>
        <input matInput [formControl]="sourceIdentifierValue" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>targetIdentifier system (MPI-ID)</mat-label>
        <input matInput [formControl]="targetIdentifierSystem" />
      </mat-form-field>
      &nbsp;
      {{ targetIdentifierValue }}
    </div>
    <div>
      <mat-form-field>
        <mat-label>targetIdentifier system (EPR-SPID)</mat-label>
        <input matInput [formControl]="targetIdentifier2System" />
      </mat-form-field>
      &nbsp;
      {{ targetIdentifier2Value }}
    </div>

    <div>
      <div>targetId: {{ targetId }}</div>
    </div>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onPIXmQuery()"
      >
        PIXm Query
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<mat-card class="display">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>Mobile Access Gateway - Authenticate</mat-card-title>
    </mat-card-header>

    <div>
      <mat-form-field>
        <mat-label>Authenticate/Authorize</mat-label>
        <select matNativeControl required [formControl]="authenticate">
          <option value="PATIENT">Patient</option>
          <option value="HCP">HCP for Patient</option>
        </select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="display">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>Mobile Access Gateway - Query</mat-card-title>
    </mat-card-header>

    <div>
      <div>Format Code: {{ documentReferenceFormatCode }}</div>
      <div>Attachment Url: {{ documentReferenceAttachmentUrl }}</div>
    </div>

    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        (click)="onFindDocumentReferences()"
      >
        Document References
      </button>
      <button mat-raised-button type="submit" (click)="onFindMedicationList()">
        Medication List
      </button>
      <button mat-raised-button type="submit" (click)="onFindMedicationCard()">
        Medication Card
      </button>
      <button
        mat-raised-button
        type="submit"
        (click)="onDownloadDocumentReferenceAttachment()"
      >
        Download
      </button>
      <button mat-raised-button type="submit" (click)="onTransform()">
        Transform
      </button>
      <button mat-raised-button type="submit" (click)="onPdf()">Pdf</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<mat-card class="display">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>Mobile Access Gateway - Upload</mat-card-title>
    </mat-card-header>

    <div>
      <input
        type="file"
        (change)="fileChange($event)"
        placeholder="Upload"
        accept=".xml,*.json"
      />
    </div>
    <div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [formControl]="documentDescription" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Document Type</mat-label>
        <select matNativeControl required [formControl]="documentType">
          <option value="APPC">APPC Document</option>
          <option value="MTP">Medication Treatment Plan</option>
        </select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>DocumentEntry.masterIdentifier (uuid)</mat-label>
        <input matInput [formControl]="masterIdentifier" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>DocumentEntry.creationTime</mat-label>
        <input matInput [formControl]="creationTime" />
      </mat-form-field>
    </div>
    <div>
      <div>
        <mat-form-field>
          <mat-label>ihe-sourceId</mat-label>
          <input matInput [formControl]="iheSourceId" /> </mat-form-field
        >&nbsp;
        <a
          href="https://profiles.ihe.net/ITI/MHD/4.0.2/StructureDefinition-ihe-sourceId.html"
          >ig</a
        >
      </div>
      <div>
        <button
          mat-raised-button
          type="submit"
          (click)="createMhdTransaction()"
        >
          Test MHD
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="display">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>Response</mat-card-title>
    </mat-card-header>
    <div *ngIf="errMsg">{{ errMsg }}</div>

    <pre><code [highlight]="getJson()" [lineNumbers]="true"></code></pre>
  </mat-card-content>
</mat-card>
