.group {
  margin: 10px 0;

  &:not(.top-level) {
    padding-left: 1.8rem;
    border-left: 5px solid rgba(0, 0, 0, 0.06);
  }

  & > .group-support-link {
    margin-top: -0.83rem;
    margin-bottom: 0.83rem;
    color: rgba(0, 0, 0, 0.6);
  }
}

.item {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  &.item-type-boolean,
  &.item-type-choice,
  &.item-type-integer {
    label {
      display: flex;
      app-item-hint {
        margin-left: 0.3rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  &.item-type-boolean,
  &.item-type-choice {
    mat-radio-group {
      margin-top: 0.5em;
      mat-radio-button {
        margin-right: 0.5em;
      }
    }
  }
}
