<mat-form-field
  appearance="outline"
  *ngFor="let formControl of formArray.controls; let i = index"
>
  <mat-label>
    <app-questionnaire-form-item-label
      [item]="item"
    ></app-questionnaire-form-item-label>
  </mat-label>
  <input
    type="text"
    matInput
    [formControl]="formControl"
    [matAutocomplete]="auto"
    [required]="item.isRequired"
  />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
    <ng-container *ngFor="let option of (answerOptions$ | async)[0]">
      <mat-option *ngIf="!option.isUserProvided" [value]="option">
        {{ option.display }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
  <mat-hint>
    <app-questionnaire-form-item-hint
      [item]="item"
    ></app-questionnaire-form-item-hint>
  </mat-hint>
  <mat-error
    *ngIf="formControl?.errors?.required"
    translate="errors.required"
  ></mat-error>
</mat-form-field>
