<div *ngFor="let formControl of formArray.controls; let answerIndex = index">
  <mat-form-field appearance="outline">
    <mat-label>
      <app-questionnaire-form-item-label
        [item]="item"
      ></app-questionnaire-form-item-label>
    </mat-label>
    <input matInput [formControl]="formControl" [required]="item.isRequired" />
    <mat-hint>
      <app-questionnaire-form-item-hint
        [item]="item"
      ></app-questionnaire-form-item-hint>
    </mat-hint>
    <mat-error
      *ngIf="formControl?.errors?.required"
      translate="errors.required"
    ></mat-error>
    <mat-error
      *ngIf="formControl?.errors?.maxlength"
      translate="errors.maxLength"
      [translateParams]="{ maxLength: item.maxLength }"
    ></mat-error>
    <span matSuffix *ngIf="item.extensions.unit">{{
      item.extensions.unit
    }}</span>
  </mat-form-field>
  <button
    mat-icon-button
    *ngIf="
      item.repeats &&
      !item.isReadonly &&
      (formArray.length > 1 || !item.isRequired)
    "
    aria-label="Remove answer"
    (click)="removeAnswer(answerIndex)"
    type="button"
  >
    <mat-icon>remove</mat-icon>
  </button>
</div>
<button
  *ngIf="item.repeats && !item.isReadonly"
  mat-raised-button
  color="primary"
  (click)="addAnswer()"
  type="button"
>
  Add another "{{ item.text }}"
</button>
