@use '@angular/material' as mat;
@import '../../variables';

$primary: map-get($theme, primary);

.search-field {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  margin: 1rem;
  background-color: white;

  mat-icon {
    margin-left: 1rem;
    color: mat.get-color-from-palette($primary);
  }

  input {
    flex: 1;
    padding: 1rem;
    border: none;
    outline: none;
    color: rgba(12, 38, 52, 0.87);
    font-size: 14px;
  }
}

.mat-table {
  margin: 1rem;

  .mat-row {
    cursor: pointer;
  }

  .mat-cell,
  .mat-header-cell {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &.title {
      flex: 3;
    }

    &.date {
      flex: 2;
    }

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }

    .cell-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
