<mat-card class="primary">
  <mat-card-header class="primary-card-header">
    <h1 class="mat-display-3">Questionnaires</h1>
    <p class="mat-subheading-2">
      Search for a questionnaire below and select it in order to fill out.
    </p>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Create new">
        <app-questionnaires-table
          [dataSource]="newOrderDataSource"
          (rowClick)="openQuestionnaire($event)"
        >
        </app-questionnaires-table>
      </mat-tab>
      <mat-tab label="Drafts">
        <app-questionnaires-table
          [dataSource]="openOrderDataSource"
          (rowClick)="openQuestionnaireResponse($event)"
        ></app-questionnaires-table>
      </mat-tab>
      <mat-tab label="Completed">
        <app-questionnaires-table
          [dataSource]="completedOrderDataSource"
          (rowClick)="openQuestionnaireResponse($event)"
        ></app-questionnaires-table>
      </mat-tab>
      <mat-tab label="Orders">
        <app-tasks-table
          [dataSource]="taskDataSource"
          (rowClick)="openTask($event)"
        ></app-tasks-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-footer>
    <p>
      HL7®, HEALTH LEVEL SEVEN®, FHIR® and the FHIR ® are trademarks owned by
      Health Level Seven International, registered with the United States Patent
      and Trademark Office.
    </p>
  </mat-card-footer>
</mat-card>
