.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  @media screen and (min-width: 600px) {
    width: 600px;
  }
}
