<ng-container *ngIf="!item.repeats">
  <label class="mat-body-2">
    <app-questionnaire-form-item-label
      [item]="item"
    ></app-questionnaire-form-item-label>
    <span *ngIf="item.isRequired">&nbsp;*</span>
    <app-questionnaire-form-item-hint
      [item]="item"
    ></app-questionnaire-form-item-hint>
  </label>
  <mat-radio-group
    [ngClass]="item.extensions.choiceOrientation"
    [formControl]="formControl"
    [required]="item.isRequired"
  >
    <mat-radio-button
      *ngFor="let option of item.answerOptions"
      [value]="option.key"
      color="primary"
    >
      {{ option.display }}
    </mat-radio-button>
  </mat-radio-group>
</ng-container>
<ng-container *ngIf="item.repeats">
  <div>
    {{ item.type }} cannot be used with radio buttons unless item.repeats is set
    to false
  </div>
</ng-container>
