<ng-container *ngIf="(item$ | async) as item">
  <div
    *ngIf="!item.extensions.isHidden && item.isEnabled"
    [ngClass]="['item-type-' + item.type, 'item', 'level-' + linkIdPath.length]"
  >
    <ng-container [ngSwitch]="item.type">
      <app-questionnaire-form-item-group
        *ngSwitchCase="'group'"
        [formItem]="item"
        [level]="linkIdPath.length"
      ></app-questionnaire-form-item-group>
      <app-questionnaire-form-item-label
        *ngSwitchCase="'display'"
        [item]="item"
      ></app-questionnaire-form-item-label>
      <app-questionnaire-form-item-boolean
        *ngSwitchCase="'boolean'"
        [formItem]="item"
        [linkIdPath]="linkIdPath"
        [dispatch]="dispatch"
      ></app-questionnaire-form-item-boolean>
      <app-questionnaire-form-item-string
        *ngSwitchCase="'string'"
        [formItem]="item"
        [linkIdPath]="linkIdPath"
        [dispatch]="dispatch"
      ></app-questionnaire-form-item-string>
      <app-questionnaire-form-item-date
        *ngSwitchCase="'date'"
        [formItem]="item"
        [linkIdPath]="linkIdPath"
        [dispatch]="dispatch"
      ></app-questionnaire-form-item-date>
      <ng-container
        *ngSwitchCase="'choice'"
        [ngSwitch]="item.extensions.itemControl"
      >
        <app-questionnaire-form-item-radio-button
          *ngSwitchCase="ItemControl.RadioButton"
          [formItem]="item"
          [linkIdPath]="linkIdPath"
          [dispatch]="dispatch"
          [allowUserProvidedAnswers]="false"
        ></app-questionnaire-form-item-radio-button>
        <app-questionnaire-form-item-check-box
          *ngSwitchCase="ItemControl.CheckBox"
          [formItem]="item"
          [linkIdPath]="linkIdPath"
          [dispatch]="dispatch"
          [allowUserProvidedAnswers]="false"
        ></app-questionnaire-form-item-check-box>
        <app-questionnaire-form-item-choice
          *ngSwitchDefault
          [formItem]="item"
          [linkIdPath]="linkIdPath"
          [dispatch]="dispatch"
        ></app-questionnaire-form-item-choice>
      </ng-container>
      <ng-container
        *ngSwitchCase="'open-choice'"
        [ngSwitch]="item.extensions.itemControl"
      >
        <app-questionnaire-form-item-radio-button
          *ngSwitchCase="ItemControl.RadioButton"
          [formItem]="item"
          [linkIdPath]="linkIdPath"
          [dispatch]="dispatch"
          [allowUserProvidedAnswers]="true"
        ></app-questionnaire-form-item-radio-button>
        <app-questionnaire-form-item-check-box
          *ngSwitchCase="ItemControl.CheckBox"
          [formItem]="item"
          [linkIdPath]="linkIdPath"
          [dispatch]="dispatch"
          [allowUserProvidedAnswers]="true"
        ></app-questionnaire-form-item-check-box>
        <app-questionnaire-form-item-open-choice
          *ngSwitchDefault
          [formItem]="item"
          [linkIdPath]="linkIdPath"
          [dispatch]="dispatch"
        ></app-questionnaire-form-item-open-choice>
      </ng-container>
      <app-questionnaire-form-item-text
        *ngSwitchCase="'text'"
        [formItem]="item"
        [linkIdPath]="linkIdPath"
        [dispatch]="dispatch"
      ></app-questionnaire-form-item-text>
      <app-questionnaire-form-item-decimal
        *ngSwitchCase="'decimal'"
        [formItem]="item"
        [linkIdPath]="linkIdPath"
        [dispatch]="dispatch"
      ></app-questionnaire-form-item-decimal>
      <app-questionnaire-form-item-integer
        *ngSwitchCase="'integer'"
        [formItem]="item"
        [linkIdPath]="linkIdPath"
        [dispatch]="dispatch"
      ></app-questionnaire-form-item-integer>
      <app-questionnaire-form-item-attachment
        *ngSwitchCase="'attachment'"
        [formItem]="item"
        [linkIdPath]="linkIdPath"
        [dispatch]="dispatch"
      ></app-questionnaire-form-item-attachment>
      <div *ngSwitchDefault>{{ item.type }} not implemented!!!</div>
    </ng-container>

    <app-questionnaire-form-item
      *ngFor="let linkIdPath of (itemLinkIdPaths$ | async)"
      [store]="store"
      [dispatch]="dispatch"
      [linkIdPath]="linkIdPath"
    ></app-questionnaire-form-item>
  </div>
</ng-container>
