$space-horizontal: 1.5rem;

.item {
  padding-bottom: 1rem;
}

.item-type-group {
  margin-bottom: 2rem;
  padding-bottom: 0;

  &.level-1 {
    border-bottom: 1px rgba(#7d8b93, 0.3) solid;
    padding-left: $space-horizontal;
    padding-right: $space-horizontal;
    margin-left: -$space-horizontal;
    margin-right: -$space-horizontal;
  }

  &:not(.level-1) {
    padding-left: $space-horizontal;
    border-left: 0.3rem solid rgba(0, 0, 0, 0.06);
  }
}
