<ng-container *ngIf="item.extensions.itemControl !== ItemControl.Slider">
  <mat-form-field
    appearance="outline"
    *ngFor="let formControl of formArray.controls"
  >
    <mat-label>
      <app-questionnaire-form-item-label
        [item]="item"
      ></app-questionnaire-form-item-label>
    </mat-label>
    <input
      type="number"
      matInput
      [formControl]="formControl"
      [required]="item.isRequired"
    />
    <mat-hint>
      <app-questionnaire-form-item-hint
        [item]="item"
      ></app-questionnaire-form-item-hint>
    </mat-hint>
    <mat-error
      *ngIf="formControl?.errors?.required"
      translate="errors.required"
    ></mat-error>
  </mat-form-field>
</ng-container>
<ng-container *ngIf="item.extensions.itemControl === ItemControl.Slider">
  <div class="slider-container" *ngFor="let formControl of formArray.controls">
    <label class="mat-body-2">
      <app-questionnaire-form-item-label
        [item]="item"
      ></app-questionnaire-form-item-label>
      <app-questionnaire-form-item-hint
        [item]="item"
      ></app-questionnaire-form-item-hint>
    </label>
    <mat-slider
      [min]="item.extensions.minValue"
      [max]="item.extensions.maxValue"
      [step]="item.extensions.sliderStepValue"
      [formControl]="formControl"
      tickInterval="auto"
      color="primary"
    ></mat-slider>
  </div>
</ng-container>
