<mat-form-field appearance="outline" *ngFor="let formControl of controls">
  <mat-label>
    <app-questionnaire-form-item-label
      [item]="item"
    ></app-questionnaire-form-item-label>
  </mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    placeholder="Choose a date time"
    [formControl]="formControl.date"
    [required]="item.isRequired"
  />
  <input
    *ngIf="formControl.date.value"
    matInput
    type="time"
    [formControl]="formControl.time"
    [required]="item.isRequired"
    (click)="$event.stopImmediatePropagation()"
  />
  <mat-hint>
    <app-questionnaire-form-item-hint
      [item]="item"
    ></app-questionnaire-form-item-hint>
  </mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error
    *ngIf="
      formControl?.date?.errors?.required || formControl?.time?.errors?.required
    "
    translate="errors.required"
  ></mat-error>
</mat-form-field>
