<mat-card class="card-maps">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <div *ngIf="operationOutcome">
      <div *ngFor="let issue of operationOutcome.issue" class="issue">
        <a class="{{ issue.severity }}" (click)="scroll(getLineNo(issue))"
          >{{ getLineFromExtension(issue) }}: {{ getLocation(issue) }}</a
        >:<br />
        {{ issue.diagnostics }}
      </div>
    </div>
    <div
      class="app-ace-editor"
      #editor
      style="width: 100%; height: 500px"
    ></div>
  </mat-card-content>
</mat-card>
