<mat-card class="display" *ngIf="task">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>{{ task.description }}</mat-card-title>
    </mat-card-header>

    <table class="twocol">
      <tr>
        <td>Name:</td>
        <td>{{ task.description }}</td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>{{ task.status }}</td>
      </tr>
      <tr>
        <td>Intent:</td>
        <td>
          {{ task.intent }}
          <div *ngIf="task.focus.reference">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="onShowOrder()"
            >
              order
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="task.identifier?.length > 0">
        <td>Identifier:</td>
        <td>
          {{ task.identifier[0]?.value }}, {{ task.identifier[0]?.system }}
        </td>
      </tr>
      <tr>
        <td>authoredOn:</td>
        <td>{{ task.authoredOn }}</td>
      </tr>
      <tr>
        <td>lastModified:</td>
        <td>{{ task.lastModified }}</td>
      </tr>
      <tr>
        <td>requester:</td>
        <td>{{ task.requester?.display }}</td>
      </tr>
      <tr>
        <td>restriction.recipient:</td>
        <td>{{ task.restriction?.recipient[0]?.display }}</td>
      </tr>
      <tr>
        <td>owner:</td>
        <td>{{ task.owner?.display }}</td>
      </tr>
      <tr *ngIf="inputImagingStudies?.length > 0">
        <td>Input ImagingStudy</td>
        <td>
          <div *ngFor="let study of inputImagingStudies">
            <app-imaging-study-table [imagingStudy]="study">
            </app-imaging-study-table>
          </div>
        </td>
      </tr>
      <tr *ngIf="outputImagingStudies?.length > 0">
        <td>Output ImagingStudy</td>
        <td>
          <div *ngFor="let study of outputImagingStudies">
            <app-imaging-study-table [imagingStudy]="study">
            </app-imaging-study-table>
          </div>
        </td>
      </tr>
      <tr *ngIf="outputDocumentReferences?.length > 0">
        <td>Output DocumentReferences</td>
        <td>
          <button
            *ngFor="let docRef of outputDocumentReferences"
            mat-raised-button
            type="submit"
            (click)="onPdf(docRef)"
          >
            {{ docRef?.description }}
          </button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
