<ng-container
  *ngIf="
    questionnaireWithResponse$ | async as questionnaireWithResponse;
    else notfound
  "
>
  <app-questionnaire-form
    [questionnaire]="questionnaireWithResponse.questionnaire"
    [questionnaireResponse]="questionnaireWithResponse.questionnaireResponse"
    (changeQuestionnaireResponse)="onChangeQuestionnaireResponse($event)"
    (submitQuestionnaire)="onSubmit(questionnaireWithResponse)"
    (saveAsDraft)="
      onSaveAsDraft(questionnaireWithResponse.questionnaireResponse)
    "
    (cancel)="onCancel()"
  ></app-questionnaire-form>
</ng-container>
<ng-template #notfound>
  <p>Questionnaire not found</p>
</ng-template>
