<ng-container
  *ngIf="
    questionnaireWithResponse$ | async as questionnaireWithResponse;
    else notfound
  "
>
  <app-questionnaire-form
    [questionnaire]="questionnaireWithResponse.questionnaire"
    [questionnaireResponse]="questionnaireWithResponse.questionnaireResponse"
    (changeQuestionnaireResponse)="onChangeQuestionnaireResponse($event)"
    (submitQuestionnaire)="onSubmit(questionnaireWithResponse)"
    (saveAsDraft)="
      onSaveAsDraft(questionnaireWithResponse.questionnaireResponse)
    "
    (saveAsDefault)="
      onSaveAsDefaultDraft(questionnaireWithResponse.questionnaireResponse)
    "
    (deleteQuestionnaireResponse)="
      onDeleteQuestionnaireResponse(
        questionnaireWithResponse.questionnaireResponse
      )
    "
    (cancel)="onCancel()"
    [readOnly]="false"
    [hideSubmitButton]="
      questionnaireWithResponse.questionnaireResponse?.identifier ? true : false
    "
    [hideSaveButton]="
      questionnaireWithResponse.questionnaireResponse?.identifier ? true : false
    "
    [hideCancelButton]="false"
    [showHidden]="showHidden"
  ></app-questionnaire-form>
  <div>{{ errMsg }}</div>
</ng-container>
<ng-template #notfound>
  <p>Questionnaire not found</p>
</ng-template>
