<div class="search-field mat-elevation-z2">
  <mat-icon>search</mat-icon>
  <input (keyup)="applyFilter($event.target.value)" placeholder="Search" />
</div>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="title"> Title </mat-header-cell>
    <mat-cell *matCellDef="let entry" class="title">
      <div class="cell-content">
        {{ entry.title }}
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <div class="cell-content">
        {{ entry.status }}
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="requester">
    <mat-header-cell *matHeaderCellDef>Requester</mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <div class="cell-content">
        {{ entry.requester }}
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="owner">
    <mat-header-cell *matHeaderCellDef>Owner</mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <div class="cell-content">
        {{ entry.owner }}
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef class="date"
      >lastModified</mat-header-cell
    >
    <mat-cell *matCellDef="let entry" class="date">
      <div class="cell-content">
        {{ entry.lastModified }}
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="rowClick.next(row.entry)"
  ></mat-row>
</mat-table>
