<mat-card>
    <mat-card-content>
        <p>Simple DEMO app how to use fhir (R4) with angular.</p>
        <br />

        <div class="note">
            THIS IS WORK IN PROGRESS AND NOT COMPLETE, DO NOT USE IT IN PRODUCTION AND DO NOT USE REAL DATA
        </div>

        <button mat-button color="primary" (click)="fillForm()">Fill out Ebida form ...</button>

        <button mat-button color="primary" (click)="fillFormSdcCap()">Fill out SDC Cap form ...</button>

        <button mat-button color="primary" (click)="fillFormSdcLoinc()">Fill out SDC Loinc form ...</button>

        <button mat-button color="primary" (click)="fillFormSdcRender()">Fill out SDC Render form ...</button>

        <button mat-button color="primary" (click)="fillFormLhncbcHeightWeight()">Fill out Height/Weight Render form
            ...</button>

        <button mat-button color="primary" (click)="fillFormString()">Fill form String ...</button>

        <ul>
            <li>built with <a href="https://angular.io/">angular</a></li>
            <li>using <a href="https://github.com/ahdis/ng-fhirjs">ng-fhirjs</a> as an adapter for accessing a fhir
                server with <a href="https://github.com/FHIR/fhir.js">fhir.js</a></li>
            <li>using <a href="https://material.angular.io/">angular material</a> for UI components</li>
        </ul>
        <p>use the menu top right for different functionalities</p>

    </mat-card-content>
    <mat-card-footer>
        HL7®, HEALTH LEVEL SEVEN®, FHIR® and the FHIR ® are trademarks owned by Health Level Seven International,
        registered with the United States Patent and Trademark Office.
    </mat-card-footer>
</mat-card>