<mat-card>
    <mat-card-content>
        <p>simple demo app how to use fhir with angular.</p>
        <ul>
        <li>built with <a href="https://angular.io/">angular</a></li>  
        <li>using <a href="https://github.com/ahdis/ng-fhirjs">ng-fhirjs</a> as an adapter for accessing a fhir server with <a href="https://github.com/FHIR/fhir.js">fhir.js</a></li>
        <li>integrating fhir type definitions from <a href="https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/fhir">DefinitelyTyped</a>) (ST3)</li>
        <li>using <a href="https://material.angular.io/">angular material</a> for UI components</li>
        </ul>
        <p>use the menu top right for different functionalities</p>
        <p>brought to you by <a href="http://www.ahdis.ch">ahdis</a>, contact <a href="mail-to:oliver.egger@ahdis.ch">oliver</a> for further info.</p>
   </mat-card-content>
   <mat-card-footer>      
      HL7®, HEALTH LEVEL SEVEN®, FHIR® and the FHIR ® are trademarks owned by Health Level Seven International, registered with the United States Patent and Trademark Office.  
  </mat-card-footer>
</mat-card>