<div
  *ngFor="
    let childrenLinkIdPathsPerAnswer of childrenItemLinkIdPaths;
    let answerIndex = index
  "
>
  <div class="header-container">
    <ng-container [ngSwitch]="level">
      <h2 *ngSwitchCase="1">
        <app-questionnaire-form-item-label
          [item]="formItem"
        ></app-questionnaire-form-item-label>
      </h2>
      <h3 *ngSwitchCase="2">
        <app-questionnaire-form-item-label
          [item]="formItem"
        ></app-questionnaire-form-item-label>
      </h3>
      <h4 *ngSwitchCase="3">
        <app-questionnaire-form-item-label
          [item]="formItem"
        ></app-questionnaire-form-item-label>
      </h4>
      <h5 *ngSwitchCase="4">
        <app-questionnaire-form-item-label
          [item]="formItem"
        ></app-questionnaire-form-item-label>
      </h5>
      <h6 *ngSwitchDefault>
        <app-questionnaire-form-item-label
          [item]="formItem"
        ></app-questionnaire-form-item-label>
      </h6>
    </ng-container>

    <button
      mat-icon-button
      *ngIf="
        formItem.repeats &&
        (formItem.answers.length > 1 || !formItem.isRequired)
      "
      aria-label="Remove group"
      (click)="removeGroup(answerIndex)"
      type="button"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <div class="group-support-link">
    <app-questionnaire-form-item-hint
      [item]="formItem"
    ></app-questionnaire-form-item-hint>
  </div>

  <app-questionnaire-form-item
    *ngFor="let childLinkIdPath of childrenLinkIdPathsPerAnswer"
    [store]="store"
    [dispatch]="dispatch"
    [linkIdPath]="childLinkIdPath"
  ></app-questionnaire-form-item>
</div>
<button
  *ngIf="formItem.repeats"
  mat-raised-button
  color="primary"
  type="button"
  (click)="addGroup()"
>
  Add another "{{ formItem.text }}"
</button>
