:host {
  display: flex;
  flex-direction: column;
}

mat-radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  mat-radio-button {
    margin-right: 1rem;

    mat-radio-button:not(:first-child) {
      margin-top: 0;
    }
  }
}
