<ng-container *ngFor="let formControl of formArray.controls">
  <label class="mat-body-2">
    <app-questionnaire-form-item-label
      [item]="item"
    ></app-questionnaire-form-item-label>
    <app-questionnaire-form-item-hint
      [item]="item"
    ></app-questionnaire-form-item-hint>
  </label>
  <mat-radio-group [formControl]="formControl" [required]="item.isRequired">
    <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
    <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
  </mat-radio-group>
</ng-container>
