<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-select
          placeholder="FHIR Server"
          name="selectserver"
          [ngModel]="getSelectedValue()"
          (ngModelChange)="setSelectedValue($event)"
        >
          <mat-option *ngFor="let fhir of fhirServers" [value]="fhir">
            {{ fhir }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="setRadOrderQuestionnaire()">
          Create/update radorder questionnaire
        </button>
        <button
          mat-raised-button
          (click)="setDefaultQuestionnaireResponseForRadOrder()"
        >
          Create/update radorder default response
        </button>
        <button mat-raised-button (click)="setPlacerOrderIdentifier()">
          Create/update placer order identifier
        </button>
        <button mat-raised-button (click)="setOutgoingBundleExample()">
          Create/update outgoing bundle example
        </button>
        <button mat-raised-button (click)="setIncomingBundleExample()">
          Create/update incoming bundle example
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
